* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 1536px;
    background-color: #ffffff;
    overflow: hidden;
    overflow-y: auto;
}

a {
    text-decoration: none;
}

i {
    font-style: normal;
}


.box {
    width: 100%;

    ul,
    li {
        list-style: none;
    }

}

// 注册顶部导航样式
.head {
    width: 100%;
    height: 21px;
    margin-left: 120px;

    span {
        color: #8a779d;
    }

    a {
        color: #333333
    }

    .right {
        float: right;
        margin-right: 200px;
        height: 25px;

        a {
            padding-right: 10px;
            margin-left: 10px;
            line-height: 25px;
            border-right: 1px solid #d3ccd3;


        }

        img {
            vertical-align: middle;
            margin-left: 65x;
            margin-right: 5px;

        }

        span {
            padding-right: 10px;
            margin-left: 10px;
            line-height: 25px;
        }
    }
}

// 内容
.content {
    width: 100%;
    margin-top: 20px;
    margin-left: 120px;

    overflow: hidden;

    img {
        float: left;
    }

    .C {
        display: flex;
        flex-direction: column;
        float: left;
        width: 600px;
        box-sizing: border-box;

        .S {
            width: 540px;
            height: 40px;
            margin-top: 15px;
            margin-left: 25px;
            padding: 4px;
            box-sizing: border-box;
            background-color: #fc595a;
            float: left;

            input {
                width: 460px;
                height: 32px;
                padding: 0px 5px;
                outline: none;
                border: none;
                box-sizing: border-box;
            }

            button {
                width: 65px;
                color: white;
                outline: none;
                cursor: pointer;
                box-sizing: border-box;
                background-color: #fc595a;
                border: none;

            }
        }
    }

    .hotS {
        float: left;
        margin-top: 5px;
        margin-left: 30px;
        font-size: 16px;

        span {
            font-size: 14px;
        }
    }

    .connection {
        width: 300px;
        height: 84px;
        float: left;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 20px;

        span {
            background-color: #f7f7f7;
            color: #616161;
            padding: 5px 20px;

        }
    }
}

// 导航部分

.nav {
    width: 100%;
    height: 35px;
    margin-left: 120px;

    // background-color: skyblue;

    .leader {

        width: 200px;
        height: 100%;
        color: white;
        text-align: center;
        line-height: 35px;
        float: left;
        background-color: #b1191b;
    }

    .isolation {
        float: left;

        span {
            display: inline-block;
            width: 100px;
            text-align: center;
            line-height: 35px;
            cursor: pointer;
        }

        img {

            margin-left: 40px;
            vertical-align: middle;
        }

        .active {
            color: #f13031;
        }
    }


}

// 分界
.line {
    width: 100vw;
    height: 3px;
    background-color: #b1191b;
    // float: left;
}

// 二级导航栏部分 轮播图  新闻栏 
.Powerful {
    width: 100%;
    // height: 500px;
    margin-left: 120px;
    background-color: skyblue;
    overflow: hidden;
    position: relative;


    // 二级导航栏
    .navigation {
        width: 200px;
        cursor: pointer;
        background-color: #c81622;
        float: left;

        .classify {
            width: 100%;
            box-sizing: border-box;
            position: relative;


            span {
                display: block;
                color: white;
                padding-top: 5px;
                padding-left: 50px;



            }

            i {
                position: absolute;
                color: white;
                top: 5px;
                right: 10px;
            }

            p {
                color: white;
                font-size: 13px;
                padding-left: 50px;
                padding-bottom: 5px;

            }
        }

        .active1 {
            background-color: #b1191b;
        }
    }

    // 隐藏和显示的菜单
    .conceal {
        width: 800px;
        height: 400px;
        background-color: yellowgreen;
        border: 2px #ec2e2e solid;
        position: absolute;
        top: 0px;
        left: 200px;
        display: none;
        z-index: 1;

        .list {
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 400px;
            display: none;
        }

        .show {
            display: block;
        }
    }


    // 轮播图---------------------------------------------------------

    #loopDiv {
        width: 800px;
        height: 400px;
        position: relative;
        float: left;
        margin: 5px;

        #pic {
            width: 100%;
            height: 100%;
        }

        #list {
            list-style: none;
            position: absolute;
            bottom: 10px;
            left: 300px;
            color: skyblue;

            li {
                float: left;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                border-radius: 50%;
                background: skyblue;
                margin-right: 10px;
            }
        }

        .chooseBut {
            width: 50px;
            height: 80px;
            background-color: rgba(0, 0, 0, 0.2);
            color: white;
            font-size: 30px;
            line-height: 80px;
            text-align: center;
            display: none;
            position: absolute;

        }

        #left {
            left: 0px;
            top: 130px;
        }

        #right {
            right: 0px;
            top: 130px;
        }

    }


    // ------------------------
    // 新闻部份

    .newslist {
        width: 300px;
        height: 428px;
        float: left;
        border: 1px #dddddd solid;
        background-color: #ededed;
        position: relative;

    }

    .kuang {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0px;
    }

    .news {
        width: 100%;
        height: 250px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 20px;
        box-sizing: border-box;
        background-color: white;

        p {
            color: #6b6b6b;
            margin-bottom: 10px;

        }

        .newschildren {
            color: #b3b2b2;
            font-size: 14px;
            margin-bottom: 5px;
            cursor: pointer;
        }

        .leader2 {
            color: red;
        }
    }

    .dots {
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        box-sizing: border-box;

        .dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0px 5px;
            background-color: #5a5a5a;

        }

        .dedede {
            background-color: #dedede;
        }
    }

    .advertising {
        width: 100%;
        height: 158px;
        background-color: yellowgreen;
    }

}

// 第一个产品切换

.cut {
    width: 1110px;
    height: 100px;
    border: 1px solid #cccccc;
    margin-top: 10px;
    margin-left: 320px;
    overflow: hidden;
    position: relative;

    .cutmove {
        height: 100%;
        overflow: hidden;
        position: absolute;
        left: 0;

        .product {
            width: 250px;
            height: 100%;
            float: left;
            text-align: center;
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;

        }
    }


    span {
        width: 30px;
        height: 50px;
        color: white;
        font-size: 35px;
        text-align: center;
        cursor: pointer;
        background-color: #b2b0b2;
        opacity: 0.8;
        position: absolute;
    }

    span:nth-of-type(1) {
        top: 30px;
        left: 0px;

    }

    span:nth-of-type(2) {
        top: 30px;
        right: 0px;
    }

}

// 第二个产品切换
.coproduct {
    width: 850px;
    height: 500px;
    border: 1px solid #cccccc;
    margin-top: 50px;
    margin-left: 320px;
    position: relative;
    overflow: hidden;

    .coproductmove {
        width: 850px;
        height: 500px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: absolute;
        left: 0px;


        .prodcut2 {

            width: 205px;
            height: 250px;
            text-align: center;
            line-height: 250px;
            background-color: cadetblue;
            box-sizing: border-box;
            border: 1px solid #cccccc;
        }

    }

    span {
        width: 30px;
        height: 50px;
        color: white;
        font-size: 35px;
        cursor: pointer;
        background-color: #b2b0b2;
        opacity: 0.8;
        position: absolute;
    }

    .SecondL {
        text-align: left;
        top: 225px;
        left: 0px;
        border-radius: 0% 50px 50px 0%;
    }

    .SecondR {
        text-align: right;
        top: 225px;
        right: 0px;
        border-radius: 50px 0% 0% 50px;
    }
}

// 长广告
.advertising_board {
    margin-top: 20px;
    margin-left: 120px;
}

// 商品展览区

.exhibition {
    width: 1200px;
    // height: 500px;
    border: 1px cadetblue solid;
    margin-top: 20px;
    margin-left: 120px;

    .electorate {
        width: 100%;
        height: 420px;
        position: relative;

        // z左部区域
        .Left_section {
            width: 150px;
            // height: 100%;
            padding-top: 30px;
            display: flex;
            flex-wrap: wrap;

            span {
                width: 50%;
                height: 35px;
                padding: 5px;
                border: 1px yellowgreen solid;
                box-sizing: border-box;
            }

            .spot {
                width: 50px;
                height: 20px;
                position: absolute;
                left: 60px;
                bottom: 0px;
                display: flex;
                justify-content: space-between;

                i {
                    display: block;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: #999999;
                }
            }
        }


    }

    .Mid_section {
        width: 240px;
        height: 10px;
        position: absolute;
        left: 170px;
        bottom: 20px;
        display: flex;
        justify-content: space-between;

        span {
            display: block;
            width: 75px;
            background: #ceb9be;
        }

        .active2 {
            background-color: #feecea;
        }
    }

    .Right_section {
        width: 750px;
        height: 100%;
        border: 1px red solid;
        box-sizing: border-box;
        position: absolute;
        top: 0px;
        right: 0px;

        .top {
            width: 100%;
            height: 50px;
            padding-left: 50px;
            border-bottom: 3px #d0d0d0 solid;
            box-sizing: border-box;
            position: relative;
        }

        span {
            padding: 12px 10px;
            text-align: center;
            color: #555555;
            line-height: 50px;
            font-weight: 600;
        }

        .active3 {
            color: #e4393c;
            border-bottom:3px#e4393c solid ;
        }

        i {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-bottom: 10px solid #e4393c;
            border-right: 10px solid transparent;
            position: absolute;
            left: 80px;
            bottom: 0;
            margin-bottom: -1px;
        }
    }
}